* {
  margin: 0;
  padding: 0;

}

.page{
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: auto auto;
  min-width: 150px;
  height: 100%;

  display:grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,auto);
  grid-template-areas: "header header header"
                       "article article article"
                        "footer footer footer" ;
                        height: 1000px;
}

.page> div,
.page .header,
.page .article,
.page .footer{
  background: #eee;
  padding: 20px;
  border-radius: 5px;
}

.page .header{
  grid-area:header;
  background:#3c77e6 ;

}

.page .article{
    grid-area:article;

}

.page .footer{
  grid-area:footer;
  background:#3c77e6;
  padding: 10px
}



img {
  max-width: 100%;
  display: block;
  height: auto;
  margin:0 auto;
}

figcaption{
  text-align:justify;
  margin-bottom: 20px

}

p{
  text-align:justify;
    margin-bottom: 20px;
}

header{
  text-align: center;
}

.footer-tex{


}


.button {
  color: red;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;
  width: 200px;

  text-decoration: none;

}

.button:hover,
.button:visited:hover {
  color: yellow;
  background-color: #76AEED;  /* Light blue */
}
