* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #5d6063;
    background-color: #eaedf0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.3;
  }
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "menu menu menu menu"
                         "content content content content";
}

.menu{
    grid-area: menu;
}
.content{
    grid-area: content;
}



/* Mobile Styles */
@media only screen and (max-width: 425px) {
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "menu menu menu menu"
                             "content content content content";
    }
}

/* Tablet Styles */
@media only screen and (min-width: 426px) and (max-width: 2560px) {
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "menu content content content"
                             "menu content content content";
                             
    }
    .menu{
        position: fixed;
    }

    .content{
        padding-left:5em; 
    }
    }


